torch
torchaudio
numpy
PyYAML
munch
nltk
librosa
SoundFile
pydub
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions

git+https://github.com/resemble-ai/monotonic_align.git